<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Awesome Camera Store</title>
</head>
<body>
    <div class="page-wrap">
        <header>
            <h1>Awesome Camera Store</h1>
        </header>
