<% include ./includes/head %>
<% include ./includes/nav %>

<main>
    <div>
        <%
            // console.log(file);
            // assign file object to variables
            let name = file.name,
                type = file.type,
                size = file.size;
            // $tmp_name = $_FILES['image']['tmp_name'];
            // $error = $_FILES['image']['error'];

            // error handling condition
            if(size === 0) {
        %>
        <h2>No file: please select a file to upload</h2>
        <% } else if(size > 200000){ %>
        <h2>Exceed limit: maximum file size is 200KB</h2>
        <% } else { %>
        <h2>The image has been uploaded</h2>
        <div class="ml-s mr-s container">

        <!-- display the file details -->
        <p>Name: <%= name %></p>
        <p>Type: <%= type %></p>
        <p>Size: <%= size %></p>

        <!-- display the image -->
        <img src="images/<%= name %>" alt="uploaded image" />
        </div>
        <% } %>
    </div>
</main>

<% include includes/footer %>
