<nav>
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./search_form">Search</a></li>
        <li><a href="./post_form">Post</a></li>
        <li><a href="./image_form">Images</a></li>
    </ul>
</nav>
